In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
def get_title(soup):
    title = soup.find("a", attrs={"class": "_31qSD5"})
    if title is not None:
        return title.text.strip()
    return ""

def get_price(soup):
    price = soup.find("div", attrs={"class": "_1_WHN1"})
    if price is not None:
        return price.text.strip()
    return ""

def get_rating(soup):
    rating = soup.find("div", attrs={"class": "_3LWZlK"})
    if rating is not None:
        return rating.text.strip()
    return ""

def get_review_count(soup):
    review_count = soup.find("span", attrs={"class": "_2_R_DZ"})
    if review_count is not None:
        return review_count.text.strip()
    return ""

def get_availability(soup):
    availability = soup.find("div", attrs={"class": "_9-sL7L"})
    if availability is not None:
        return availability.text.strip()
    return "Not Available"

In [7]:
if __name__ == '__main__':
    URL = "https://www.flipkart.com/search?q=mobiles"

    webpage = requests.get(URL)
    soup = BeautifulSoup(webpage.content, "html.parser")

    products = soup.find_all("div", attrs={"class": "_1AtVbE"})

    data = []

    for product in products:
        title = get_title(product)
        price = get_price(product)
        rating = get_rating(product)
        review_count = get_review_count(product)
        availability = get_availability(product)

        data.append({
            'title': title,
            'price': price,
            'rating': rating,
            'review_count': review_count,
            'availability': availability
        })

    flipkart_df = pd.DataFrame(data)
    flipkart_df.dropna(subset=['title'], inplace=True)
    flipkart_df.to_csv("flipkart_data.csv", header=True, index=False)

In [8]:
print(flipkart_df)

   title    price rating                       review_count   availability
0                                                            Not Available
1                                                            Not Available
2                                                            Not Available
3          ₹7,249    4.4        6,856 Ratings & 191 Reviews  Not Available
4          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
5          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
6          ₹1,105    3.3            146 Ratings & 5 Reviews  Not Available
7          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
8         ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
9         ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
10         ₹1,049    3.9           252 Ratings & 17 Reviews  Not Available
11        ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
12        ₹13,999    4.5       15,905 Ratings & 735 Reviews  Not Available
13         ₹1,061    3.6             56 Ratings & 2 Reviews  Not Available
14         ₹1,353    3.7             71 Ratings & 4 Reviews  Not Available
15        ₹13,999    4.5       15,905 Ratings & 735 Reviews  Not Available
16        ₹12,999    4.6        9,086 Ratings & 386 Reviews  Not Available
17        ₹12,999    4.6        9,086 Ratings & 386 Reviews  Not Available
18         ₹8,999    4.3        4,343 Ratings & 314 Reviews  Not Available
19         ₹1,456    3.9             81 Ratings & 7 Reviews  Not Available
20         ₹8,199    4.2        2,246 Ratings & 138 Reviews  Not Available
21        ₹11,999    4.1        9,683 Ratings & 799 Reviews  Not Available
22         ₹9,299    4.2        9,814 Ratings & 677 Reviews  Not Available
23         ₹5,749    4.3     24,370 Ratings & 1,070 Reviews  Not Available
24         ₹7,249    4.4        6,856 Ratings & 191 Reviews  Not Available
25        ₹61,999    4.7  2,15,507 Ratings & 11,317 Reviews  Not Available
26        ₹11,999    4.4        5,649 Ratings & 384 Reviews  Not Available
27                                                           Not Available
28                                                           Not Available
29                   3.3                                     Not Available
30                                                           Not Available

In [9]:
flipkart_df

   title    price rating                       review_count   availability
0                                                            Not Available
1                                                            Not Available
2                                                            Not Available
3          ₹7,249    4.4        6,856 Ratings & 191 Reviews  Not Available
4          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
5          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
6          ₹1,105    3.3            146 Ratings & 5 Reviews  Not Available
7          ₹7,299    4.2     20,911 Ratings & 1,136 Reviews  Not Available
8         ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
9         ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
10         ₹1,049    3.9           252 Ratings & 17 Reviews  Not Available
11        ₹15,999    4.4        2,632 Ratings & 119 Reviews  Not Available
12        ₹13,999    4.5       15,905 Ratings & 735 Reviews  Not Available
13         ₹1,061    3.6             56 Ratings & 2 Reviews  Not Available
14         ₹1,353    3.7             71 Ratings & 4 Reviews  Not Available
15        ₹13,999    4.5       15,905 Ratings & 735 Reviews  Not Available
16        ₹12,999    4.6        9,086 Ratings & 386 Reviews  Not Available
17        ₹12,999    4.6        9,086 Ratings & 386 Reviews  Not Available
18         ₹8,999    4.3        4,343 Ratings & 314 Reviews  Not Available
19         ₹1,456    3.9             81 Ratings & 7 Reviews  Not Available
20         ₹8,199    4.2        2,246 Ratings & 138 Reviews  Not Available
21        ₹11,999    4.1        9,683 Ratings & 799 Reviews  Not Available
22         ₹9,299    4.2        9,814 Ratings & 677 Reviews  Not Available
23         ₹5,749    4.3     24,370 Ratings & 1,070 Reviews  Not Available
24         ₹7,249    4.4        6,856 Ratings & 191 Reviews  Not Available
25        ₹61,999    4.7  2,15,507 Ratings & 11,317 Reviews  Not Available
26        ₹11,999    4.4        5,649 Ratings & 384 Reviews  Not Available
27                                                           Not Available
28                                                           Not Available
29                   3.3                                     Not Available
30                                                           Not Available